[Unit]
Description=Starts Efforia Core
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/efforia/efforia

[Install]
WantedBy=multi-user.target
