[Unit]
Description = Starts Office for HUB

[Service]
User = root
Group = root
Type = simple
ExecStart = /opt/services/office

[Install]
WantedBy = multi-user.target
