[Unit]
Description = Starts Office for HUB
Requires = libreoffice.service
After = libreoffice.service

[Service]
User = root
Group = root
Type = simple
ExecStart = /opt/services/keyboard

[Install]
WantedBy = multi-user.target
