[Unit]
Description = Starts Web Browser for HUB

[Service]
User = root
Group = root
Type = simple
ExecStart = /opt/services/browser

[Install]
WantedBy = multi-user.target
