[Unit]
Description = Starts EOS Access Service

[Service]
User = root
Group = root
Type = simple
ExecStart = /opt/services/access %i

[Install]
WantedBy = multi-user.target
