[Unit]
Description = Starts Kodi Switcher service

[Service]
User = root
Group = root
Type = simple
ExecStart = /opt/services/kodi-switcher %i

[Install]
WantedBy = multi-user.target
